@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.nuestrosCortes .galeriaCortes .tarjetaCorte, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes efecto_poste {
  50% {
    height: 102%;
  }
}
/* font-family: "Oswald", sans-serif; */
/* font-family: "Rubik", sans-serif; */
@font-face {
  font-family: thestudents;
  src: url(../assets/fonts/TheStudentsTeacher-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 1px 1px rgb(218, 165, 32);
  margin: auto 0;
}

header {
  font-size: 25px;
}
header .logo {
  width: 300px;
  height: auto;
  margin: 0;
}

main {
  width: 100%;
  margin-top: 88px;
  position: relative;
  min-height: 100vh;
}

footer {
  padding: 20px;
  width: 100%;
}
footer div {
  color: rgb(255, 255, 255);
  flex-wrap: nowrap;
  font-size: 40px;
  width: 33%;
}
footer div a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
footer div a i:hover {
  color: rgb(218, 165, 32);
  transform: scale(1.4);
  transition: all 0.2s;
}
footer .ubicacion {
  text-align: right;
}
footer .whatsapp {
  text-align: center;
}
footer .instagram {
  text-align: left;
}

.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 80px 200px;
}
.home .posteBarbero {
  background-image: url(../assets/img/poste.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  width: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  animation-name: efecto_poste;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.home .eslogan {
  padding: 1px;
  margin: 1px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.home .eslogan h1 {
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 1px rgb(218, 165, 32);
}
.home .reserva {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.home .reserva form {
  border: 2px rgb(218, 165, 32) solid;
  width: 90%;
  margin: auto;
  display: grid;
  justify-content: center;
}
.home .reserva form h2 {
  font-family: "Rubik", sans-serif;
  margin-top: 15px;
}
.home .reserva form input {
  width: 90%;
  margin-top: 15px;
}
.home .reserva form select {
  width: 90%;
  margin-bottom: 15px;
}
.home .reserva form button {
  width: 90%;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}
.home .reserva form button:hover {
  background-image: radial-gradient(#444001, rgb(218, 165, 32));
}

.sobreNosotros {
  display: grid;
  margin-top: 88px;
  height: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 5fr;
}
.sobreNosotros h1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.sobreNosotros .foto {
  background-image: url(../assets/img/barberia.webp);
  background-size: cover;
  width: 80%;
  height: 300px;
  margin: 10px auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.sobreNosotros p {
  font-size: 25px;
  text-align: justify;
  font-family: thestudents;
  padding: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.nuestrosCortes .galeriaCortes {
  display: grid;
  height: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.nuestrosCortes .galeriaCortes .tarjetaCorte .fotoCorte {
  height: 200px;
  width: 90%;
}
.nuestrosCortes .galeriaCortes .tarjetaCorte .fotoCorte:hover {
  transform: scale(1.3);
  border: 2px rgb(218, 165, 32) solid;
  transition: all 0.4s;
}
.nuestrosCortes .galeriaCortes .tarjetaCorte h2 {
  width: 90%;
  margin: auto;
}
.nuestrosCortes .galeriaCortes .item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.nuestrosCortes .galeriaCortes .item2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.nuestrosCortes .galeriaCortes .item3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.nuestrosCortes .galeriaCortes .item4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.nuestrosCortes h2 {
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  text-align: center;
}

.catalogo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 500px);
}
.catalogo .tarjetaProducto {
  border: 1px solid rgb(218, 165, 32);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 50px 50px;
  margin: 0;
}
.catalogo .tarjetaProducto .fotoProducto {
  height: 250px;
  width: 250px;
  margin: auto;
}
.catalogo .tarjetaProducto .fotoProducto:hover {
  transform: skewX(15deg);
}
.catalogo .tarjetaProducto .nombreProducto {
  font-size: 30px;
  text-align: center;
}
.catalogo .tarjetaProducto .precio {
  font-size: 40px;
  color: rgba(0, 128, 0, 0.7411764706);
  text-align: center;
}
.catalogo .tarjetaProducto .precio:hover {
  color: green;
}
.catalogo .producto1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.catalogo .producto2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.catalogo .producto3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.catalogo .producto4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.ubicacion p {
  text-align: center;
  font-family: thestudents;
  font-size: 25px;
  font-weight: bold;
}
.ubicacion .mapa {
  width: 100%;
  height: 250px;
}
.ubicacion h2 {
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px rgb(218, 165, 32);
}

@media only screen and (min-width: 600px) {
  .home {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 300px;
  }
  .home .posteBarbero {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto 0;
    height: 100%;
    width: auto;
  }
  .home .eslogan {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }
  .home .reserva {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .sobreNosotros {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 300px;
  }
  .sobreNosotros h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .sobreNosotros .foto {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .sobreNosotros p {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
  }
  .nuestrosCortes .galeriaCortes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .nuestrosCortes .galeriaCortes .item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .nuestrosCortes .galeriaCortes .item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .nuestrosCortes .galeriaCortes .item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .nuestrosCortes .galeriaCortes .item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .catalogo {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .catalogo .producto1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .catalogo .producto2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .catalogo .producto3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .catalogo .producto4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .ubicacion .mapa {
    height: 275px;
  }
}
@media only screen and (min-width: 1000px) {
  .home {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
  }
  .home .posteBarbero {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .home .eslogan {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .home .reserva {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto 10px;
  }
  .catalogo {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .catalogo .producto1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .catalogo .producto2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .catalogo .producto3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .catalogo .producto4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .ubicacion .mapa {
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
