@media only screen and (min-width:600px){
    .home{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 300px;
        .posteBarbero{
            @include grid_position(1,2, 1,2);
            margin: auto 0;
            height: 100%;
            width: auto;
        }
        .eslogan{
            @include grid_position(2,3, 1,2);
            margin: auto;
        }
        .reserva{
            @include grid_position(1,3, 2,3);
        }
    }
    
    .sobreNosotros{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 300px;
        h1{
            @include grid_position(1,3,1,2);
        }
        .foto{
            @include grid_position(2,3,2,3);
        }
        p{
            @include grid_position(1,2,2,3);
            margin: auto;
        }
    }

    .nuestrosCortes{
        .galeriaCortes{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        .item1{
            @include grid_position(1,2,1,2);
        }
        .item2{
            @include grid_position(2,3,1,2);
        }
        .item3{
            @include grid_position(1,2,2,3);
        }
        .item4{
            @include grid_position(2,3,2,3);
        }
        }
    }
    .catalogo{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .producto1{
            @include grid_position(1,2,1,2);
        }
        .producto2{
            @include grid_position(2,3,1,2);
        }
        .producto3{
            @include grid_position(1,2,2,3);
        }
        .producto4{
            @include grid_position(2,3,2,3);
        }
    }
    .ubicacion{
        .mapa{
            height: 275px;
        }
    }
}
@media only screen and (min-width:1000px){
    .home{
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr;
        .posteBarbero{
            @include grid_position(1,2,1,2);
        }
        .eslogan{
            @include grid_position(2,3,1,2);
        }
        .reserva{
            @include grid_position(3,4,1,2);
            margin: auto 10px;
        }
    }

    .catalogo{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        .producto1{
            @include grid_position(1,2,1,2);
        }
        .producto2{
            @include grid_position(2,3,1,2);
        }
        .producto3{
            @include grid_position(3,4,1,2);
        }
        .producto4{
            @include grid_position(4,5,1,2);
        }
    }
    .ubicacion{
        .mapa{
            height: 300px;
        }
    }
}