.nuestrosCortes{
    .galeriaCortes{
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        .tarjetaCorte{
            height: 400px;
            .fotoCorte{
                height: auto;
                width: 60%;
                margin: auto 20%;
            }
        }
        .item1{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .item2{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .item3{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .item4{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        }
        h2{
            font-size: 30px;
            font-family: "Rubik",   sans-serif; 
            text-align: center;
        }
    }
    
