.catalogo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 500px);
    .tarjetaProducto{
        border: 1px solid goldenrod;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 50px 50px;
        margin: 0;
        .fotoProducto{
            height: 250px;
            width: 250px;
            margin: auto;
        }
        .nombreProducto{
            font-size: 30px;
            text-align: center;
        }
        .precio{
            font-size: 40px;
            color: green;
            text-align: center;
        }
    }
    .producto1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .producto2{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .producto3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .producto4{
        grid-column: 1/2;
        grid-row: 4/5;
    }

}